:root{
  --color1: #223344;
  --color2: white;
}

*{
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  background-color: var(--color1);
  color: var(--color2);
  font-size: 1.6rem;
  font-family: 'Courier New', Courier, monospace;
}